@import "../../variables.scss";

.app {
  text-align: center;
  position: relative;

  &__header {
    height: 156px;
    background-color: $primary-color;
    background-image: url("../../images/bg-header-desktop.svg");
  }

  &__container {
    background-color: $background-color;
    padding-top: 75px;
    text-align: center;
  }

  &__attribution {
    font-size: 11px;
    text-align: center;
    background-color: $background-color;
    padding: 10px 0;

    & a {
      color: $primary-color;
    }
  }
}
