@import "../../variables.scss";

.app {
  text-align: center;
  position: relative;
  min-height: 100vh;
  background-color: $background-color;

  &__header {
    height: 156px;
    background-color: $primary-color;
    background-image: url("../../../public/images/bg-header-desktop.svg");
  }

  &__container {
    padding-top: 75px;
    text-align: center;
  }

  &__attribution {
    font-size: 11px;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 0;

    & a {
      color: $primary-color;
    }
  }
}
