@import "../../variables.scss";

.label {
  color: $white-color;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 100px;
  padding: 4px 10px;
  margin-left: 20px;

  &:not(:first-child) {
    margin-left: 10px;
  }

  &--new {
    background-color: $primary-color;
  }

  &--featured {
    background-color: $neutral-dark-color;
  }
}
