@import "/src/variables.scss";

.filterContainer {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 156px;
  width: 80%;
  background-color: $white-color;
  border-radius: 6px;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  box-sizing: border-box;
  padding: 5px 30px;
  margin-bottom: 10px;

  &__clear {
    margin: 10px 10px;
    color: $primary-color;
    font-weight: 700;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

@media only screen and (max-width: 900px) {
  .filterContainer {
    width: 95%;
    margin-bottom: 20px;
  }
}
