@import "/src/variables.scss";

.filterContainer {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 156px;
  height: 64px;
  width: 80%;
  background-color: $white-color;
  border-radius: 6px;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: start;
  align-items: center;
  box-sizing: border-box;
  padding: 0 30px;
}
