@import "/src/variables.scss";

.card {
  height: 150px;
  width: 80%;
  background-color: $white-color;
  border-radius: 6px;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.1);
  margin-bottom: 25px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;

  &:hover {
    transition: all 0.2s;
    box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.2);
  }

  &__logo {
    margin: 0 30px 0 40px;
  }

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  &__infoArea {
    flex-shrink: 0;
    display: grid;
    grid-template-columns: auto;
    text-align: left;
    color: $primary-color;
  }

  &__companyName {
    font-size: 18px;
    font-weight: 700;
  }

  &__positionName {
    font-size: 22px;
    font-weight: 700;
    margin: 14px 0;
    color: $neutral-dark-color;

    &:hover {
      cursor: pointer;
      color: $primary-color;
    }
  }

  &__positionInfo {
    font-size: 18px;
    font-weight: 500;
  }

  &__tagsArea {
    display: flex;
    justify-content: flex-end;
    align-self: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 40px;
  }
}

@media only screen and (max-width: 900px) {
  .card {
    height: 260px;
    width: 95%;
    margin-bottom: 50px;
    position: relative;

    &__logo {
      margin: 0;
      position: absolute;
      transform: translateY(-50%);
      top: 0;
      left: 30px;

      & img {
        height: 50px;
        width: 50px;
      }
    }

    &__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: initial;
      margin: 0 30px;
    }

    &__infoArea {
      margin: 15px 0 15px 0;
      padding-bottom: 15px;
      border-bottom: 1px solid $primary-color;
    }

    &__tagsArea {
      display: flex;
      justify-content: flex-start;
      align-self: initial;
      margin: 0 -10px;
    }
  }
}
