@import "/src/variables.scss";

.card {
  height: 150px;
  width: 80%;
  background-color: $white-color;
  border-radius: 6px;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.1);
  margin-bottom: 25px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;

  &:hover {
    transition: all 0.2s;
    box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.2);
  }

  &__logo {
    margin: 0 30px 0 40px;
  }

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  &__infoArea {
    display: grid;
    grid-template-columns: auto;
    text-align: left;
    color: $primary-color;
  }

  &__companyName {
    font-size: 18px;
    font-weight: 700;
  }

  &__positionName {
    font-size: 22px;
    font-weight: 700;
    margin: 14px 0;
    color: $neutral-dark-color;

    &:hover {
      cursor: pointer;
      color: $primary-color;
    }
  }

  &__positionInfo {
    font-size: 18px;
    font-weight: 500;
  }

  &__tagsArea {
    display: flex;
    flex-direction: row;
    margin-right: 40px;
  }
}
