@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap");
@import "./variables.scss";

body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: "League Spartan", sans-serif;
}

::selection {
  color: $white-color;
  background: $primary-color;
}
